<div id="main">
  <div id="flashes">
    <%= display_standard_flashes %>
  </div>
  <div id="main-content">
    <h3>登录系统</h3>
    <%= form_tag :action=>"login" %>
    <table class="form-tbl" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <th><label for="user_email">邮箱地址</label></th>
          <td>
            <%= text_field_tag :email,"", :size=>"30" %>
          </td>
        </tr>
        <tr>
          <th>
            <label for="user-password">你的密码</label>
          </th>
          <td>
            <%= password_field_tag :password ,"",:size =>"30"%>
          </td>
        </tr>
      </tbody>
    </table>  
    <p>
      <label>
        记住在这台电脑
        <input id="remember_me" type="checkbox" value="1" name="remember_me" checked="checked"/>
      </label>
      <%= submit_tag '保存', :class => 'button' %>
    </p
  </div>
</div>