<div id = 'main'>
  <%= render :partial=>'layouts/project' %>
           
  <div id="action-nav">
    <ul class="clear">
      <li><%= link_to("新建用例",new_project_testcase_path(@p))  %></li>
    </ul>
  </div>
  <div id="flashes">
    <%= display_standard_flashes %>
  </div>
  <div id="main-content" class="clear">
    <h3>最近的日志分析</h3>
    <table cellspacing="0" cellpadding="0" class="data issues">
      <thead>
        <tr>
          <th style="width: 25px; text-align: center;" class="hfirst">#</th>
          <th>名字</th>
          <th>操作</th>
          <th>工程</th>
          <th class="hlast">时间</th>
        </tr>
      </thead>
      <tbody id="open-tickets">
        <% @builds.each do |build| %>
          <tr id="ticket-<%= build.id %>" title="<%= build.name %>">
            <th><%= build.version %></th>
            <th><%= build.ture_logs.count %></th>
            <th><%= build.false_logs.count %></th>
            <th><%= build.project.name %></th>
            <th><%= distance_of_time_in_words(build.created_at) %></th>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
